# 2. 파이썬으로 데이터 주무르기, pandas
**pandas를 활용해서 데이터프레임을 다뤄봅시다.**

1. Pandas 시작하기
    - prerequisite : Table
    - pandas import하기
   
2. Pandas로 1차원 데이터 다루기 - Series 
    - Series 선언하기
    - Series vs ndarray
    - Series vs dict
    - Series에 이름 붙이기
3. Pandas로 2차원 데이터 다루기 - dataframe
    - dataframe 선언하기
    - from csv to dataframe
    - dataframe 자료 접근하기

[수업에 사용된 covid 데이터](https://www.kaggle.com/imdevskp/corona-virus-report)

## I. pandas 시작하기

## II. pandas로 1차원 데이터 다루기 - Series

## III. Pandas로 2차원 데이터 다루기 - dataframe

## Mission:
### 1. covid 데이터에서 100 case 대비 사망률(`Deaths / 100 Cases`)이 가장 높은 국가는?

In [12]:
import pandas as pd
covid = pd.read_csv('country_wise_latest.csv')
covid_max_Deaths_100Cases = covid.max()
covid_max_Deaths_100Cases

Country/Region                   Zimbabwe
Confirmed                         4290259
Deaths                             148011
Recovered                         1846641
Active                            2816444
New cases                           56336
New deaths                           1076
New recovered                       33728
Deaths / 100 Cases                  28.56
Recovered / 100 Cases                 100
Deaths / 100 Recovered                inf
Confirmed last week               3834677
1 week change                      455582
1 week % increase                  226.32
WHO Region                Western Pacific
dtype: object

### 2. covid 데이터에서 신규 확진자가 없는 나라 중 WHO Region이 'Europe'를 모두 출력하면?  
Hint : 한 줄에 동시에 두가지 조건을 Apply하는 경우 Warning이 발생할 수 있습니다.

In [17]:
covid_New_cases_is_zero = covid[covid['New cases'] == 0]
covid_New_cases_is_zero_in_Europe = covid_New_cases_is_zero[covid_New_cases_is_zero['WHO Region'] == 'Europe']
covid_New_cases_is_zero_in_Europe

    Country/Region  Confirmed  ...  1 week % increase  WHO Region
56         Estonia       2034  ...               0.64      Europe
75        Holy See         12  ...               0.00      Europe
95          Latvia       1219  ...               2.27      Europe
100  Liechtenstein         86  ...               0.00      Europe
113         Monaco        116  ...               6.42      Europe
143     San Marino        699  ...               0.00      Europe
157          Spain     272421  ...               2.86      Europe

[7 rows x 15 columns]

### 3. 다음 [데이터](https://www.kaggle.com/neuromusic/avocado-prices)를 이용해 각 Region별로 아보카도가 가장 비싼 평균가격(AveragePrice)을 출력하면?

In [24]:
avocado = pd.read_csv('avocado.csv')
avocado_by_region = avocado.groupby(by='region')
avocado_by_region

In [25]:
avocado_by_region.max()

                     Unnamed: 0        Date  ...     type  year
region                                       ...
Albany                       52  2018-03-25  ...  organic  2018
Atlanta                      52  2018-03-25  ...  organic  2018
BaltimoreWashington          52  2018-03-25  ...  organic  2018
Boise                        52  2018-03-25  ...  organic  2018
Boston                       52  2018-03-25  ...  organic  2018
BuffaloRochester             52  2018-03-25  ...  organic  2018
California                   52  2018-03-25  ...  organic  2018
Charlotte                    52  2018-03-25  ...  organic  2018
Chicago                      52  2018-03-25  ...  organic  2018
CincinnatiDayton             52  2018-03-25  ...  organic  2018
Columbus                     52  2018-03-25  ...  organic  2018
DallasFtWorth                52  2018-03-25  ...  organic  2018
Denver                       52  2018-03-25  ...  organic  2018
Detroit                      52  2018-03-25  ...  organic  2018
GrandRapids                  52  2018-03-25  ...  organic  2018
GreatLakes                   52  2018-03-25  ...  organic  2018
HarrisburgScranton           52  2018-03-25  ...  organic  2018
HartfordSpringfield          52  2018-03-25  ...  organic  2018
Houston                      52  2018-03-25  ...  organic  2018
Indianapolis                 52  2018-03-25  ...  organic  2018
Jacksonville                 52  2018-03-25  ...  organic  2018
LasVegas                     52  2018-03-25  ...  organic  2018
LosAngeles                   52  2018-03-25  ...  organic  2018
Louisville                   52  2018-03-25  ...  organic  2018
MiamiFtLauderdale            52  2018-03-25  ...  organic  2018
Midsouth                     52  2018-03-25  ...  organic  2018
Nashville                    52  2018-03-25  ...  organic  2018
NewOrleansMobile             52  2018-03-25  ...  organic  2018
NewYork                      52  2018-03-25  ...  organic  2018
Northeast                    52  2018-03-25  ...  organic  2018
NorthernNewEngland           52  2018-03-25  ...  organic  2018
Orlando                      52  2018-03-25  ...  organic  2018
Philadelphia                 52  2018-03-25  ...  organic  2018
PhoenixTucson                52  2018-03-25  ...  organic  2018
Pittsburgh                   52  2018-03-25  ...  organic  2018
Plains                       52  2018-03-25  ...  organic  2018
Portland                     52  2018-03-25  ...  organic  2018
RaleighGreensboro            52  2018-03-25  ...  organic  2018
RichmondNorfolk              52  2018-03-25  ...  organic  2018
Roanoke                      52  2018-03-25  ...  organic  2018
Sacramento                   52  2018-03-25  ...  organic  2018
SanDiego                     52  2018-03-25  ...  organic  2018
SanFrancisco                 52  2018-03-25  ...  organic  2018
Seattle                      52  2018-03-25  ...  organic  2018
SouthCarolina                52  2018-03-25  ...  organic  2018
SouthCentral                 52  2018-03-25  ...  organic  2018
Southeast                    52  2018-03-25  ...  organic  2018
Spokane                      52  2018-03-25  ...  organic  2018
StLouis                      52  2018-03-25  ...  organic  2018
Syracuse                     52  2018-03-25  ...  organic  2018
Tampa                        52  2018-03-25  ...  organic  2018
TotalUS                      52  2018-03-25  ...  organic  2018
West                         52  2018-03-25  ...  organic  2018
WestTexNewMexico             52  2018-03-25  ...  organic  2018

[54 rows x 13 columns]