# 2. 파이썬으로 데이터 주무르기, pandas
**pandas를 활용해서 데이터프레임을 다뤄봅시다.**

1. Pandas 시작하기
    - prerequisite : Table
    - pandas import하기
   
2. Pandas로 1차원 데이터 다루기 - Series 
    - Series 선언하기
    - Series vs ndarray
    - Series vs dict
    - Series에 이름 붙이기
3. Pandas로 2차원 데이터 다루기 - dataframe
    - dataframe 선언하기
    - from csv to dataframe
    - dataframe 자료 접근하기

[수업에 사용된 covid 데이터](https://www.kaggle.com/imdevskp/corona-virus-report)

## I. pandas 시작하기

In [1]:
import pandas as pd

## II. pandas로 1차원 데이터 다루기 - Series

In [2]:
s = pd.Series([1, 4, 9, 16, 25])
s

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [3]:
t = pd.Series({'one':1, 'two':2})

In [4]:
s[s > s.median()]

3    16
4    25
dtype: int64

In [5]:
s[[3,1,4]]

3    16
1     4
4    25
dtype: int64

In [6]:
import numpy as np
np.exp(s)

0    2.718282e+00
1    5.459815e+01
2    8.103084e+03
3    8.886111e+06
4    7.200490e+10
dtype: float64

In [7]:
s = pd.Series(np.random.randn(5), name='random_nums')
s

0    0.404651
1    0.736583
2    1.444669
3    0.247179
4   -0.791908
Name: random_nums, dtype: float64

## III. Pandas로 2차원 데이터 다루기 - dataframe

In [8]:
d = {'height':[1,2,3,4], 'weight':[30,40,50,60]}
df = pd.DataFrame(d)
df

   height  weight
0       1      30
1       2      40
2       3      50
3       4      60

In [9]:
df.dtypes

height    int64
weight    int64
dtype: object

In [10]:
covid = pd.read_csv('country_wise_latest.csv')
covid

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

In [11]:
covid.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [12]:
covid.tail()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

### 데이터 접근
- df`['column_name']` or df.column_name

In [13]:
covid['Active']

0      9796
1      1991
2      7973
3        52
4       667
       ...
182    6791
183       1
184     375
185    1597
186    2126
Name: Active, Length: 187, dtype: int64

In [14]:
covid.Active

0      9796
1      1991
2      7973
3        52
4       667
       ...
182    6791
183       1
184     375
185    1597
186    2126
Name: Active, Length: 187, dtype: int64

In [15]:
# 신규 확진자가 100명이 넘는 나라
covid[covid['New cases'] > 100].head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
6,Argentina,167416,3059,72575,91782,4890,120,2057,1.83,43.35,4.21,130774,36642,28.02,Americas
8,Australia,15303,167,9311,5825,368,6,137,1.09,60.84,1.79,12428,2875,23.13,Western Pacific

In [16]:
covid['WHO Region'].unique()

array(['Eastern Mediterranean', 'Europe', 'Africa', 'Americas',
       'Western Pacific', 'South-East Asia'], dtype=object)

In [17]:
covid['WHO Region'] == 'Europe'

0      False
1       True
2      False
3       True
4      False
       ...
182    False
183    False
184    False
185    False
186    False
Name: WHO Region, Length: 187, dtype: bool

In [18]:
books_dict = {'Available':[True,True,False], 'Location':[102, 215,323], 'Genre':['Programming','Physics','Math']}
books_df = pd.DataFrame(books_dict, index=['버그란 무엇인가', '두근두근 물리학', '미분해줘 홈즈'])
books_df

          Available  Location        Genre
버그란 무엇인가       True       102  Programming
두근두근 물리학       True       215      Physics
미분해줘 홈즈       False       323         Math

In [19]:
books_df.loc['버그란 무엇인가']

Available           True
Location             102
Genre        Programming
Name: 버그란 무엇인가, dtype: object

In [20]:
books_df.loc['미분해줘 홈즈', 'Available']

False

In [21]:
books_df.iloc[0, 1]

102

In [22]:
books_df.iloc[1, 0:2]

Available    True
Location      215
Name: 두근두근 물리학, dtype: object

### groupby
- split : 특정한 기준을 바탕으로 DataFrame 분할
- aplly : 통계함수 sum(), mean(), median() 적용해서 각 데이터 압축
- combine : apply된 결과를 바탕으로 새로운 series 생성(group_key : appiled_value)

In [23]:
covid.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [24]:
# WHO Region 별 확진자수
covid_by_region = covid['Confirmed'].groupby(by=covid['WHO Region'])
covid_by_region

In [25]:
covid_by_region.sum()

WHO Region
Africa                    723207
Americas                 8839286
Eastern Mediterranean    1490744
Europe                   3299523
South-East Asia          1835297
Western Pacific           292428
Name: Confirmed, dtype: int64

In [26]:
# 국가당 감염자수
covid_by_region.mean()

WHO Region
Africa                    15066.812500
Americas                 252551.028571
Eastern Mediterranean     67761.090909
Europe                    58920.053571
South-East Asia          183529.700000
Western Pacific           18276.750000
Name: Confirmed, dtype: float64

## Mission:
### 1. covid 데이터에서 100 case 대비 사망률(`Deaths / 100 Cases`)이 가장 높은 국가는?

In [12]:
import pandas as pd
covid = pd.read_csv('country_wise_latest.csv')
covid_max_Deaths_100Cases = covid.max()
covid_max_Deaths_100Cases

Country/Region                   Zimbabwe
Confirmed                         4290259
Deaths                             148011
Recovered                         1846641
Active                            2816444
New cases                           56336
New deaths                           1076
New recovered                       33728
Deaths / 100 Cases                  28.56
Recovered / 100 Cases                 100
Deaths / 100 Recovered                inf
Confirmed last week               3834677
1 week change                      455582
1 week % increase                  226.32
WHO Region                Western Pacific
dtype: object

### 2. covid 데이터에서 신규 확진자가 없는 나라 중 WHO Region이 'Europe'를 모두 출력하면?  
Hint : 한 줄에 동시에 두가지 조건을 Apply하는 경우 Warning이 발생할 수 있습니다.

In [17]:
covid_New_cases_is_zero = covid[covid['New cases'] == 0]
covid_New_cases_is_zero_in_Europe = covid_New_cases_is_zero[covid_New_cases_is_zero['WHO Region'] == 'Europe']
covid_New_cases_is_zero_in_Europe

    Country/Region  Confirmed  ...  1 week % increase  WHO Region
56         Estonia       2034  ...               0.64      Europe
75        Holy See         12  ...               0.00      Europe
95          Latvia       1219  ...               2.27      Europe
100  Liechtenstein         86  ...               0.00      Europe
113         Monaco        116  ...               6.42      Europe
143     San Marino        699  ...               0.00      Europe
157          Spain     272421  ...               2.86      Europe

[7 rows x 15 columns]

### 3. 다음 [데이터](https://www.kaggle.com/neuromusic/avocado-prices)를 이용해 각 Region별로 아보카도가 가장 비싼 평균가격(AveragePrice)을 출력하면?

In [24]:
avocado = pd.read_csv('avocado.csv')
avocado_by_region = avocado.groupby(by='region')
avocado_by_region

In [25]:
avocado_by_region.max()

                     Unnamed: 0        Date  ...     type  year
region                                       ...
Albany                       52  2018-03-25  ...  organic  2018
Atlanta                      52  2018-03-25  ...  organic  2018
BaltimoreWashington          52  2018-03-25  ...  organic  2018
Boise                        52  2018-03-25  ...  organic  2018
Boston                       52  2018-03-25  ...  organic  2018
BuffaloRochester             52  2018-03-25  ...  organic  2018
California                   52  2018-03-25  ...  organic  2018
Charlotte                    52  2018-03-25  ...  organic  2018
Chicago                      52  2018-03-25  ...  organic  2018
CincinnatiDayton             52  2018-03-25  ...  organic  2018
Columbus                     52  2018-03-25  ...  organic  2018
DallasFtWorth                52  2018-03-25  ...  organic  2018
Denver                       52  2018-03-25  ...  organic  2018
Detroit                      52  2018-03-25  ...  organic  2018
GrandRapids                  52  2018-03-25  ...  organic  2018
GreatLakes                   52  2018-03-25  ...  organic  2018
HarrisburgScranton           52  2018-03-25  ...  organic  2018
HartfordSpringfield          52  2018-03-25  ...  organic  2018
Houston                      52  2018-03-25  ...  organic  2018
Indianapolis                 52  2018-03-25  ...  organic  2018
Jacksonville                 52  2018-03-25  ...  organic  2018
LasVegas                     52  2018-03-25  ...  organic  2018
LosAngeles                   52  2018-03-25  ...  organic  2018
Louisville                   52  2018-03-25  ...  organic  2018
MiamiFtLauderdale            52  2018-03-25  ...  organic  2018
Midsouth                     52  2018-03-25  ...  organic  2018
Nashville                    52  2018-03-25  ...  organic  2018
NewOrleansMobile             52  2018-03-25  ...  organic  2018
NewYork                      52  2018-03-25  ...  organic  2018
Northeast                    52  2018-03-25  ...  organic  2018
NorthernNewEngland           52  2018-03-25  ...  organic  2018
Orlando                      52  2018-03-25  ...  organic  2018
Philadelphia                 52  2018-03-25  ...  organic  2018
PhoenixTucson                52  2018-03-25  ...  organic  2018
Pittsburgh                   52  2018-03-25  ...  organic  2018
Plains                       52  2018-03-25  ...  organic  2018
Portland                     52  2018-03-25  ...  organic  2018
RaleighGreensboro            52  2018-03-25  ...  organic  2018
RichmondNorfolk              52  2018-03-25  ...  organic  2018
Roanoke                      52  2018-03-25  ...  organic  2018
Sacramento                   52  2018-03-25  ...  organic  2018
SanDiego                     52  2018-03-25  ...  organic  2018
SanFrancisco                 52  2018-03-25  ...  organic  2018
Seattle                      52  2018-03-25  ...  organic  2018
SouthCarolina                52  2018-03-25  ...  organic  2018
SouthCentral                 52  2018-03-25  ...  organic  2018
Southeast                    52  2018-03-25  ...  organic  2018
Spokane                      52  2018-03-25  ...  organic  2018
StLouis                      52  2018-03-25  ...  organic  2018
Syracuse                     52  2018-03-25  ...  organic  2018
Tampa                        52  2018-03-25  ...  organic  2018
TotalUS                      52  2018-03-25  ...  organic  2018
West                         52  2018-03-25  ...  organic  2018
WestTexNewMexico             52  2018-03-25  ...  organic  2018

[54 rows x 13 columns]